<div id="lists-app">
  <div id="todo-stats" class="cf"></div>

  <div class="list">
    <ul id="add-item" class="items">
      <li><input id="new-item" placeholder="Add to your list..." type="text" /></li>
    </ul>
    <ul id="item-list" class="items"></ul>
  </div>
  
  <%= link_to "Back to all lists", stack_url(@stack) %>
</div>

<%= render "itemView" %>