<h1>Stacks</h1>

<ul>
  <% @stacks.each do |stack| %>
    <li>
      <p><%= link_to "#{stack.token}", stack_url(stack) %></p>
    </li>
  <% end %>
</ul>

<hr />
<%= link_to "Make a list", new_list_url %>