<div class="list">
  <header>
    <h2>My lists</h2>
    <%= link_to "+", new_stack_list_url(@stack), :class => "add-list", :title => 'Make a new list' %>
  </header>
  <ul id="my-lists" class="items">
    <% @lists.each do |list| %>
      <li>
        <%= link_to stack_list_url(@stack, list) do %>
          <%= list.name %> 
          <%= content_tag(:i, list.remaining.length) %>
        <% end %>
        <%#= link_to "Delete", stack_list_url(@stack, list), :method => :delete %>
      </li>
    <% end %>
  </ul>
</div>
