<h1>My Lists</h1>
<div id="lists-app" class="list">
  <ul id="my-lists" class="items">
    <% @lists.each do |list| %>
      <li>
        <%= link_to "#{list.name}", stack_list_url(@stack, list) %>
        <%= content_tag(:span, list.remaining.length, :class => "remaining") %>
        <%#= link_to "Edit", edit_stack_list_url(@stack, list), :class => 'edit-list' %>
        <%#= link_to "Delete", stack_list_url(@stack, list), :method => :delete %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "Make a list", new_stack_list_url(@stack) %>