<div class="hero">
  <section class="wrap">
    <header>
      <div class='logo'>
        <svg class="logo-square icon-check"><use xlink:href="/assets/icons.svg#icon-check"></use></svg>
        <h1>minimalist</h1>      
      </div>
    </header>
  </section>
  <section class="wrap clearfix">
    <div id="demo"></div>
    <div id="intro">
      <h2>
        A simple list app that's everywhere you are.
      </h2>
      <%= image_tag 'try-me.png', :class => 'try-me' %>
      <div class="actions">
        <%= link_to user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-primary' do %>
          <svg class="icon-google-icon"><use xlink:href="/assets/icons.svg#icon-google-icon"></use></svg>
          <span>Sign in with Google</span>
        <% end %>
      </div>
    </div>
  </section>
</div>
<footer>
  <div class="wrap clearfix">
    © <%= Time.now.year %> Made by <a href='http://twitter.com/mshwery' target="_blank">@mshwery</a>.
  </div>
</footer>
