@mixin box-shadow ($params...) {
  box-shadow: $params;
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
}

@mixin box-sizing ($params) {
  box-sizing: $params;
  -webkit-box-sizing: $params;
  -moz-box-sizing: $params;
}

@mixin inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

@mixin border-radius ($radius...) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin opacity ($op:100) {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=$op);
  filter:alpha(opacity=$op);
  -moz-opacity:$op/100;
  -khtml-opacity:$op/100;
  opacity:$op/100;
}

/* https://gist.github.com/2170024 */
@mixin gradient ($percent) {
  background-image: -moz-linear-gradient(top, rgba(255,255,255,($percent)) 0%, rgba(0,0,0, $percent) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,($percent))), color-stop(100%,rgba(0,0,0, $percent)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,($percent)) 0%,rgba(0,0,0, $percent) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,($percent)) 0%,rgba(0,0,0, $percent) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,($percent)) 0%,rgba(0,0,0, $percent) 100%);
  background-image: linear-gradient(top, rgba(255,255,255,($percent)) 0%,rgba(0,0,0, $percent) 100%);
}

@mixin basicField {
  padding: 8px 5px;
  border: 1px solid #ddd;
  background: #fff;
  -webkit-appearance: none;
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
  font-weight: 400;
  @include box-shadow(inset 0px 1px 2px rgba(0,0,0,0.12));
  vertical-align: middle;
}

@mixin transition($params) {
  -webkit-transition: $params; 
  -moz-transition: $params; 
  -o-transition: $params; 
  -ms-transition: $params; 
  transition: $params;  
}

@mixin delay($params) {
  transition-delay: $params;
  -moz-transition-delay: $params; /* Firefox 4 */
  -webkit-transition-delay: $params; /* Safari and Chrome */
  -o-transition-delay: $params; /* Opera */
}

$contrasted-dark-default: #777;
$contrasted-light-default: #fff;

@mixin text-contrast($color, $light: $contrasted-light-default, $dark: $contrasted-dark-default) {
  $color-brightness: round((red($color) * 299) + (green($color) * 587) + (blue($color) * 114) / 1000);
  $light-color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);
  
  background-color: $color;

  @if lightness($color) < 70 {
    color: $light;
  }
  @else {
    color: $dark;
  }
}
