$list-max-width: 500px;
$page-max-width: 960px;
$button-max-width: 280px;
$preview-margin: 50px;
$sidebar-width: 260px;

$medium-breakpoint: 768px;
$small-breakpoint: 400px;
$show-sidebar-breakpoint: $list-max-width + $sidebar-width;

$primary: #2E8AE6;
$orange: #f55910;
$gray: #EAF4FB;
$bg-color: #F1F2F5;
