@mixin box-shadow($params){
  box-shadow: $params;
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
}

@mixin inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin opacity ($op:100) {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=$op);
  filter:alpha(opacity=$op);
  -moz-opacity:$op/100;
  -khtml-opacity:$op/100;
  opacity:$op/100;
}

/* https://gist.github.com/2170024 */
@mixin gradient ($percent) {
  background-image: -moz-linear-gradient(top, rgba(255,255,255,($percent)) 0%, rgba(0,0,0, $percent) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,($percent))), color-stop(100%,rgba(0,0,0, $percent)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,($percent)) 0%,rgba(0,0,0, $percent) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,($percent)) 0%,rgba(0,0,0, $percent) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,($percent)) 0%,rgba(0,0,0, $percent) 100%);
  background-image: linear-gradient(top, rgba(255,255,255,($percent)) 0%,rgba(0,0,0, $percent) 100%);
}

@mixin basicField {
  padding: 8px 5px;
  border: 1px solid #ddd;
  background: #fff;
  -webkit-appearance: none;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
  font-weight: 400;
  @include box-shadow(inset 0px 1px 2px rgba(0,0,0,0.12));
  vertical-align: middle;
}

@mixin transition($ms) {
  -webkit-transition: all $ms ease-out; 
  -moz-transition: all $ms ease-out; 
  -o-transition: all $ms ease-out; 
  transition: all $ms ease-out;
}

body {
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
  background: #e6eaf0;
  text-align: center;
}

input[type=text],
textarea {
  @include basicField;
}

label {
  @include inline-block;
  vertical-align: middle;
}