*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 15px;
}

body {
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
  background: $bg-color;
  text-align: center;
  font-weight: 300;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a[href],
button,
.btn,
[class^="icon-"],
[class*=" icon-"] {
  // @see https://css-tricks.com/snippets/css/remove-gray-highlight-when-tapping-links-in-mobile-safari/
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

.right {
  float: right;
}

.hero {
  background-color: #f6f6f6;
}

.show {
  opacity: 1;
  transition: opacity 200ms linear;
  transition-delay: 1s;
}

.hide {
  opacity: 0;
  transition: opacity 200ms linear;
  transition-delay: 1s;
}

i {
  color: #aaa;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  padding: 15px 0px;
}

.selected-list {
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin: 0px auto;
  top: 0px;
  max-width: $list-max-width;
  width: 100%;

  @media only screen and (max-width: $show-sidebar-breakpoint) {
    box-shadow: none;
    max-width: $show-sidebar-breakpoint;
    padding: 0;
  }

  input[type=text], textarea {
    border: none;
    background: transparent;
    box-shadow: none;
    overflow: hidden;
    resize: none;
  }  
}

input,
textarea {
  outline: none;
}

textarea {
  box-sizing: content-box;
}

a {
  text-decoration: none;
}

.wrap {
  width: 100%;
  max-width: $page-max-width;
  margin: 0 auto;
  box-sizing: border-box;
}

@mixin btn_color($color) {
  @include text-contrast($color);
  border-color: darken($color, 6%);

  &:hover,
  &:active,
  &:focus {
    @include text-contrast($color);
    text-decoration: none;
  }

  @media only screen and (min-width: $medium-breakpoint + 1) {
    &:hover {
      background-color: saturate(darken($color, 3%), 5%);
    }
  }
  &:active {
    border-color: darken($color, 20%);
    background-color: darken($color, 5%);
  }  
}

.btn {
  max-width: $button-max-width;
  padding: 0 1rem;
  text-align: center;
  font-size: .85em;
  line-height: 2.75rem;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  @include btn_color(#d1d1d3);

  &:active {
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.45);
  }

  & > * {
    vertical-align: middle;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
  }
}

.btn-primary {
  @include btn_color($primary);
}

.actions .btn {
  margin-right: .5rem;
  margin-bottom: .5rem;
}

input[type=text],
textarea {
  @include basicField;
}

#load-screen {
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  position: absolute;
  text-align: center;
  justify-content: center;
}

.pages-home,
.pages-preview {
  .dots .dot {
    background: white;
  }
}

.dots {
  font-size: 10px;

  .dot {
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: $primary;
    margin: 0 .25em;
    animation: fade 2s ease infinite;
    opacity: 0;

    &:nth-child(1) {
      left: 0;
    }
    
    &:nth-child(2) {
      left: 1.5em;
      animation-delay: 0.2s;
    }
    
    &:nth-child(3) {
      left: 3em;
      animation-delay: 0.5s;
    }
  }
}

@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.icon-twitter {
  margin: 0 5px;
  opacity: 0.5;
  font-size: 16px;
  vertical-align: middle;

  @media only screen and (min-width: $medium-breakpoint + 1) {
    &:hover {
      opacity: .75;
    }
  }
  
  &:active {
    opacity: 1;
  }
}
