$primary: #3392d6;
$orange: #f55910;

@mixin box-shadow ($params...) {
  box-shadow: $params;
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
}

@mixin inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

@mixin border-radius ($radius...) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin opacity ($op:100) {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=$op);
  filter:alpha(opacity=$op);
  -moz-opacity:$op/100;
  -khtml-opacity:$op/100;
  opacity:$op/100;
}

/* https://gist.github.com/2170024 */
@mixin gradient ($percent) {
  background-image: -moz-linear-gradient(top, rgba(255,255,255,($percent)) 0%, rgba(0,0,0, $percent) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,($percent))), color-stop(100%,rgba(0,0,0, $percent)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,($percent)) 0%,rgba(0,0,0, $percent) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,($percent)) 0%,rgba(0,0,0, $percent) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,($percent)) 0%,rgba(0,0,0, $percent) 100%);
  background-image: linear-gradient(top, rgba(255,255,255,($percent)) 0%,rgba(0,0,0, $percent) 100%);
}

@mixin basicField {
  padding: 8px 5px;
  border: 1px solid #ddd;
  background: #fff;
  -webkit-appearance: none;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
  font-weight: 400;
  @include box-shadow(inset 0px 1px 2px rgba(0,0,0,0.12));
  vertical-align: middle;
}

@mixin transition($params) {
  -webkit-transition: $params; 
  -moz-transition: $params; 
  -o-transition: $params; 
  -ms-transition: $params; 
  transition: $params;  
}

@mixin delay($params) {
  transition-delay: $params;
  -moz-transition-delay: $params; /* Firefox 4 */
  -webkit-transition-delay: $params; /* Safari and Chrome */
  -o-transition-delay: $params; /* Opera */
}

body {
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
  background: $primary;//#2d89c9;//#e6eaf0;
  text-align: center;
  font-weight: 300;
}

html, body {
  height: 100%;
}

.right {
  float: right;
}

.white {
  background-color: #fff;
}

.show {
  opacity: 1;
  @include transition(opacity 200ms linear);
  @include delay(1s);
}
.hide {
  opacity: 0;
  @include transition(opacity 200ms linear);
  @include delay(1s);
}

i {
  float: right;
  color: #aaa;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  padding: 15px 0px;
  width: 46px;
  //border-left: $border-style;
  text-align: center;
}

#listapp {
  overflow: hidden;
  position: relative;
  margin: 0px auto;
  top: 0px;
  @media only screen and (max-device-width: 480px) {
    max-width: 100%;
  }
  input[type=text], textarea {
    border: none;
    background: transparent;
    @include box-shadow(none);
    overflow: hidden;
    resize: none;
  }  
}

.wrap {
  width: 960px;
  margin: 0 auto;
  @media only screen and (max-device-width: 480px) {
    max-width: 100%;
  }  
}

.btn {
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  line-height: 100%;
  font-weight: 300;
  text-transform: uppercase;
  @include inline-block;
  @include border-radius(8px);
}

.orange {
  background-color: $orange;
  color: #fff;
  &:hover {
    background-color: saturate(darken($orange, 5%), 5%);
    color: #fff;
    text-decoration: none;
  }
}

input[type=text],
textarea {
  @include basicField;
}

.label, label {
  @include inline-block;
  vertical-align: middle;
}
