.pages-home {
  background: #f3f3f4;
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  footer {
    margin-top: auto;
  }
}

.pages-home {
  #app {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding: 0;

    .back { display: none; }
    @media only screen and (min-width: 480px) {
      margin-left: 0px;
    }
  }
  h1, h2 {
    text-transform: none;
    color: #222;
  }
  h2 {
    margin: 0px;
    font-size: 28px;
    font-weight: 300; 
    line-height: 1.2em;
    @media only screen and (max-width: $medium-breakpoint) {
      font-size: 26px;
      text-align: center;
    } 
  }

  .try-me {
    opacity: .2;
    margin-top: 20px;
    margin-left: -20px;
    @media only screen and (max-width: $medium-breakpoint) {
      display: none;
    }     
  }

  section {
    padding: 60px 0px 0px;
    @media only screen and (max-width: $medium-breakpoint) {
      padding-top: 40px;
    } 
  }

  .actions {
    padding: 30px 0;
    @media only screen and (min-width: $medium-breakpoint) {
      .preview { display: none; }
    }
    @media only screen and (max-width: $medium-breakpoint) {
      text-align: center;
      .btn {
        width: 45%;
        margin: 0 1%;
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    @media only screen and (max-width: $small-breakpoint) {
      .btn {
        width: 100%;
        margin: 5px auto; 
      }
    }
  }

  #intro {
    width: 40%;
    padding: 30px 5% 0 0px;
    text-align: left;

    @media only screen and (max-width: $medium-breakpoint) {
      padding: 30px 5%;
      width: 100%;
    } 
  }
}

footer {
  text-align: left;
  font-size: 14px;
  line-height: 25px;
  color: #525b62;
  background: $bg-color;
  padding: 20px 0;
  width: 100%;

  .wrap {
    padding: 0 30px;

    @media only screen and (max-width: $medium-breakpoint) {
      text-align: center;
    }     
  }
  a, a:hover {
    color: #525b62;
  }
}

.pages-home {
  #demo, #intro {
    float: left;
    box-sizing: border-box;
  }

  #demo {
    width: 60%;
    padding: 20px 5%;
    overflow: hidden;
    
    @media only screen and (max-width: $medium-breakpoint) {
      display: none;
    } 
    
    .selected-list {
      position: relative;
      min-width: 0px;
    }
  }  
}

.home {
  display: none;
}

.logo-square {
  background: $primary;
  border-radius: 3px;
  width: 3.75rem;
  height: 3.75rem;
  color: #FFF;
  padding: 1rem;
}
