.pages-home {
  background: $primary;
}

.pages-home, .pages-preview {
  #app {
    position: relative;
    z-index: 1;
    padding: 0;

    .back { display: none; }
    @media only screen and (min-width: 480px) {
      margin-left: 0px;
    }
  }
  h1, h2 {
    margin: 0px;
    text-transform: none;
    color: #222;
  }
  h1 {
    font-size: 36px;
    font-weight: 400;
  }
  h2 {
    font-size: 28px;
    font-weight: 300; 
    line-height: 1.2em;
    @media only screen and (max-width: $medium-breakpoint) {
      font-size: 26px;
      text-align: center;
    } 
  }

  .try-me {
    opacity: .2;
    margin-top: 20px;
    margin-left: -20px;
    @media only screen and (max-width: $medium-breakpoint) {
      display: none;
    }     
  }

  section {
    padding: 60px 0px 0px;
    @media only screen and (max-width: $medium-breakpoint) {
      padding-top: 40px;
    } 
  }

  .actions {
    padding: 30px 0;
    @media only screen and (min-width: $medium-breakpoint) {
      .preview { display: none; }
    }
    @media only screen and (max-width: $medium-breakpoint) {
      text-align: center;
      .btn {
        width: 45%;
        margin: 0 1%;
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    @media only screen and (max-width: $small-breakpoint) {
      .btn {
        width: 100%;
        margin: 5px auto; 
      }
    }
  }

  #intro {
    width: 40%;
    padding: 30px 5% 0 0px;
    text-align: left;
    @media only screen and (max-width: $medium-breakpoint) {
      padding: 30px 5%;
      width: 100%;
    } 
  }
  #features {
    padding: 35px 0px;
    color: #fff;
    text-align: left;
    ul {
      padding-left: 33%;
      background: url(image-path("bg.png")) 30px center no-repeat;
      @media only screen and (max-width: $medium-breakpoint) {
        padding-left: 0;
        background: none;
      } 
    }   
    li {
      float: left;
      width: 50%;
      padding: 25px 0;
      @media only screen and (max-width: $medium-breakpoint) {
        width: 100%;
      } 
      h3, p {
        padding: 0 30px;
        margin: 0px;
        line-height: 24px;
        font-size: 16px;
      }
      h3 {
        font-weight: 600;
      }
    }
  }
}

footer {
  text-align: left;
  font-size: 14px;
  line-height: 25px;
  color: #525b62;
  background: $bg-color;
  padding: 20px 0;
  width: 100%;

  .wrap {
    padding: 0 30px;

    @media only screen and (max-width: $medium-breakpoint) {
      text-align: center;
    }     
  }
  .right {
    @media only screen and (max-width: $medium-breakpoint) {
      float: none;
      display: block;
    }
  }
  a, a:hover {
    color: #525b62;
  }
}

.pages-home {
  #demo, #intro {
    float: left;
    @include box-sizing(border-box);
  }

  #demo {
    width: 60%;
    padding: 20px 5%;
    max-height: 300px;
    overflow: hidden;
    cursor: pointer;
    @include transition((padding 300ms ease-in-out, max-height 500ms ease-in-out));
    -webkit-transform: translate3d(0,0,0);
    -webkit-perspective: 1000;
    @media only screen and (max-width: $medium-breakpoint) {
      display: none;
    } 
    .selected-list {
      margin: 0 -3px -3px;
      @include transition(margin 300ms ease-in-out);
      position: relative;
      min-width: 0px;
    }
    &:hover {
      padding-top: 0px;
      padding-bottom: 40px;
    }
    &.active {
      cursor: auto;
      max-height: 1000px;
      padding-top: 0;
      padding-bottom: 0;

      .selected-list {
        margin: 0 -3px 50px;
      }
      &.complete {
        @include transition(max-height 0s);
        max-height: none;
      }
    }
  }  
}

.home {
  display: none;
}

.pages-preview {
  background: #fff;

  #demo {
    .home {
      display: block;
      float: left;
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    @media only screen and (max-width: $medium-breakpoint) {
      position: relative;
    }    
  }
}

.logo-square {
  background: #3392d6;
  @include border-radius(5px);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  @include inline-block;
  color: #FFF;
  font-size: 24px;
  margin-right: 10px;

}
