.pages-home {
  background: $primary;
  #app {
    position: relative;
    z-index: 1;
    .back { display: none; }
    @media only screen and (min-device-width: 480px) {
      margin-left: 0px;
      padding: 0px;
    }
  }
  h1, h2 {
    margin: 0px;
    text-transform: none;
    color: #222;
  }
  h1 {
    font-size: 36px;
    font-weight: 400;
    img {
      margin-right: 10px;
      max-width: 40px;
      max-height: 40px;
    }
  }
  h2 {
    font-size: 32px;
    font-weight: 300; 
    line-height: 110%;
    @media only screen and (max-device-width: 480px) {
      font-size: 30px;
      text-align: center;
    } 
    span {
      font-size: 26px;
      @media only screen and (max-device-width: 480px) {
        font-size: 24px;
      } 
    }
  }

  .try-me {
    opacity: .2;
    margin-top: 20px;
    margin-left: -20px;
    @media only screen and (max-device-width: 480px) {
      display: none;
    }     
  }

  section {
    padding: 60px 0px 0px;
    @media only screen and (max-device-width: 480px) {
      padding-top: 40px;
    } 
  }

  .actions {
    padding: 30px 0;
    @media only screen and (max-device-width: 480px) {
      .btn {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
      }
    } 
  }

  #demo, #intro {
    float: left;
  }

  #demo {
    width: 49.6%;
    padding: 20px 48px;
    max-height: 250px;
    overflow: hidden;
    cursor: pointer;
    @include transition((padding 300ms ease-in-out, max-height 500ms ease-in-out));
    -webkit-transform: translate3d(0,0,0);
    -webkit-perspective: 1000;
    @media only screen and (max-device-width: 480px) {
      display: none;
    } 
    #list {
      margin: 0 -3px -3px;
      @include transition(margin 300ms ease-in-out);
      position: relative;
      min-width: 0px;
      border: 3px solid #ccc;
      @include border-radius(3px);
      @include box-shadow(0px 2px 5px rgba(0,0,0,0.1));
    }
    &:hover {
      padding-top: 0px;
      padding-bottom: 40px;
    }
    &.active {
      cursor: auto;
      max-height: 1000px;
      padding: 0 48px;
      #list {
        margin: 0 -3px 50px;
      }
      &.complete {
        @include transition(max-height 0s);
        max-height: none;
      }
    }
  }
  #intro {
    width: 34.8%;
    padding: 30px 5.2% 30px 0px;
    text-align: left;
    @media only screen and (max-device-width: 480px) {
      padding: 30px 5%;
      width: 90%;
    } 
  }
  #features {
    padding: 35px 0px;
    color: #fff;
    text-align: left;
    ul {
      padding-left: 33%;
      background: url('bg.png') 30px center no-repeat;
      @media only screen and (max-device-width: 480px) {
        padding-left: 0;
        background: none;
      } 
    }   
    li {
      float: left;
      width: 50%;
      padding: 25px 0;
      @media only screen and (max-device-width: 480px) {
        width: 100%;
      } 
      h3, p {
        padding: 0 30px;
        margin: 0px;
        line-height: 24px;
        font-size: 16px;
      }
      h3 {
        font-weight: 600;
      }
    }
  }
}
footer {
  text-align: left;
  font-size: 14px;
  line-height: 25px;
  color: #525b62;
  background: #eaf4fb;
  padding: 20px 0;
  min-width: 960px;
  @media only screen and (max-device-width: 480px) {
    min-width: 0px;
  }
  .wrap {
    width: 900px;
    padding: 0 30px;
    @media only screen and (max-device-width: 480px) {
      width: auto;
      text-align: center;
    }     
  }
  .right {
    @media only screen and (max-device-width: 480px) {
      float: none;
      display: block;
    }
  }
  a, a:hover {
    color: #525b62;
  }
}
