$blue: #2a7dbd;//#417cd6; // #1f7cbf;
$yellow: #fffeca; //#fefaee;
$dark: #3d434d;
.list {
  border: 1px solid #bbb;
  @include box-shadow(0px 1px 5px rgba(0,0,0,0.12));
  margin: 20px auto;
  width: 320px;
  background: #fff;
  text-align: left;

  h2 {
    font-size: 18px;
    padding: 15px 20px;
    margin: 0px;
    color: $dark;
    font-weight: normal;
  }  
  .items {
    li {
      position: relative;
      background-color: #fff;
      padding: 0px 20px;
      font-size: 14px;
      border-top: 1px solid desaturate(lighten(#5290bf, 35%), 10%); // #487eaa;
      @include transition(0.1s);
      .toggle {
        float: left;
        margin: 10px 0px;
        height: 14px;
        width: 14px;
      }
      .view {
        margin: 0px 20px 0px 24px;
      }
      input[type=text] {
        border: none;
        background: transparent;
        @include box-shadow(none);
      }
      label, input[type=text] {
        width: 100%;
        padding: 7px 0px; 
        line-height: 144%;
        font-size: 14px; 
        font-weight: 400;
      }
      label {
        color: $dark;//$blue;
        //cursor: text;
      }
      .destroy, .edit {
        display: none;
        position: absolute;
        height: 16px;
        line-height: 16px;
        cursor: pointer;
        width: 11px;
        overflow: hidden;
        background-repeat: no-repeat;
        text-indent: -999px;
        top: 8px;
        background-image: url(list_icons.png);
        opacity: .6;
        &:hover { opacity: 1; }
      }
      .destroy {
        background-position: center top;
        right: 10px;
      }
      .edit {
        right: 30px;
        background-position: center bottom;
      }
      .editInput { display: none; }
      &.editing {
        background-color: $yellow;
        .editInput { display: inline-block; }
        label { display: none; }
      }

      &.completed {
        label {
          color: #bbb;
        }
      }

      &:hover, &.editing {
        .destroy, .edit { display: block; }
      }
    }
    &#add-item {
      li {
        padding: 0px;
        border-top-style: dashed;
        input[type=text] {
          width: 90%;
          padding: 10px 5%;
          background-image: url(enter.png);
          background-repeat: no-repeat;
          background-position: 95% center;
          &:focus {
            margin: -1px;
            border: 1px solid $blue;
            @include box-shadow((0 0 4px rgba($blue, 0.5), 0 1px 3px rgba(0, 0, 0, 0.1) inset)); //0px 0px 5px #5290bf);
          }
        }
      }
    }
  }
}