$blue: #2a7dbd; //#417cd6; // #1f7cbf;
$yellow: #fffeca; //#fefaee;
$dark: #545862; //#3d434d;
$border-style: 1px solid rgba(0,0,0,0.08);


.lists-new {
  #listapp {
    background: #fff;
  }
  
}
.lists, .stacks-show {
  #listapp {
    width: 480px;
    max-width: 100%;
    padding-top: 50px;  
    margin-top: -50px;
    @media only screen and (max-device-width: 480px) {
      min-height: 100%;
    }    
  }
}

.show {
  opacity: 1;
  @include transition(opacity 200ms linear);
  @include delay(1s);
}
.hide {
  opacity: 0;
  @include transition(opacity 200ms linear);
  @include delay(1s);
}

#load-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: url('bg.png') center center no-repeat;
}

.loading {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 100%;
  display: none;
  color: #fff;
}

i {
  float: right;
  color: #aaa;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  padding: 15px 0px;
  width: 46px;
  border-left: $border-style;
  text-align: center;
}

#my-lists {
  li {
    padding: 0px;
    a {
      display: block;
      padding-left: 15px;
      line-height: 50px;
      font-weight: 400;
      i {
        line-height: inherit;
        padding: 0px;
      }
    }
  }
}

@mixin h {
  font-size: 15px;
  text-transform: uppercase;
  padding: 15px 0px;
  line-height: 20px;
  margin: 0px 3%;
  width: 92%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#stats {
  position: relative;
  padding: 0px 47px;
  height: 50px;
  text-align: center;
  background: #fff;
  border-bottom: $border-style;
  
  h2 {
    color: $dark;
    font-weight: 400;
    @include h;
  }  

  .back {
    float: left;
    cursor: pointer;
    text-align: center;
    width: 46px;
    border-right: $border-style;
    &:hover {
      background: rgba(0,0,0,0.05);
      img { opacity: .7; }
    }
    &:active {
      img { opacity: 1; }
    }
    img {
      opacity: .4;
      max-height: 51px;
      max-width: 25px;
    }
  }

  i, .back {
    float: none;
    position: absolute;
    top: 0px;
  }
  i {
    right: 0px;
  }
  .back {
    left: 0px;
  }
  .edit {
    display: none; 
    text-align: center;
    @include h;
  }
  &.editing {
    background-color: $yellow;
    .edit {
      display: block;
      width: 92%;
    }
    h2 { display: none; }
  }
}

.list {
  @include box-shadow(0 1px 2px rgba(0, 0, 0, .2));
  text-align: left;
  position: relative;
  @media only screen and (max-device-width: 480px) {
    @include box-shadow(none);
  }

  .items {
    position: relative;
    overflow: visible;
    li {
      img {
        opacity: 0;
        max-height: 51px;
        max-width: 25px;
        position: absolute;
        left: -40px;
        top: 0px;
        @include transition(opacity 100ms linear);
      }
      position: relative;
      background-color: #fff;
      padding: 0px 5%;
      font-size: 16px;
      border-bottom: $border-style;
      font-weight: 300;
      @include transition(background-color 200ms linear);
      // reduces flicker on ios...
      -webkit-transform: translate3d(0,0,0);
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility:    hidden;
      -ms-backface-visibility:     hidden;
      -webkit-perspective: 1000;
      // end
      &.completed {
        background-color: $primary;
        border-color: transparent;

        img { opacity: 1; }
        .label, label {
          color: #fff;
          text-decoration: line-through;
        }
      }
      .toggle {
        float: left;
        margin: 18px 0px;
        height: 14px;
        width: 14px;
        @media only screen and (max-device-width: 480px) {
          display: none;
        }
      }
      .view {
        margin: 0px 20px 0px 24px;
        @media only screen and (max-device-width: 480px) {
          margin-left: 0px;
        }
      }
      .label, label, input[type=text] {
        width: 100%;
        padding: 15px 0px; 
        line-height: 20px;
        font-size: 16px; 
        font-weight: 300;
      }
      .label, label {
        cursor: pointer;
        color: $dark;//$blue;
      }
      .destroy {
        display: none;
        position: absolute;
        height: 50px;
        line-height: 50px;
        cursor: pointer;
        width: 30px;
        overflow: hidden;
        background-repeat: no-repeat;
        text-indent: -999px;
        top: 0px;
        right: 0px;
        background-image: url(close.png);
        background-position: left center;
        opacity: .5;
        &:hover { opacity: 1; }
      }
      .edit { display: none; }
      &.editing {
        background-color: $yellow;
        .edit { display: inline-block; }
        .label, label { display: none; }
        .destroy { display: block; }
      }
    }
    &#add-item {
      li {
        padding: 0px;
        input[type=text] {
          width: 90%;
          padding: 14px 5%;
          border: 1px solid transparent;
          font-style: italic;
        }
        #submit-new-item {
          position: absolute;
          right: 0px;
          top: 0px;
          z-index: 100;
          background-image: url(enter.png);
          background-repeat: no-repeat;
          background-position: center;
          width: 40px;
          height: 50px;
          cursor: pointer;
        }
      }
    }
  }
}
