.vex.vex-theme-default .vex-content {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 0;
  background: white;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.vex.vex-theme-default {
  padding-top: 0;
  padding-bottom: 0;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1111;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
}

.modal-overlay {
  animation: fadein 0.5s;
  -webkit-backface-visibility: hidden;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal {
  max-width: 450px;
  width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  overflow: hidden;
  border-radius: 4px;
  transform: translate(-50%, -50%);
}

.modal-is-shown {
  opacity: 1;
  animation: fadein .3s;
}

.modal-closing {
  opacity: 0;
  animation: fadeout .3s;
}

.modal-is-shown .modal {
  animation: modal-flyin .25s;
}

.modal-closing .modal {
  animation: modal-flyout .25s;
}

.modal-title {
  font-size: 1.5rem;
}

.modal-header {
  padding-top: 2.5rem;
  padding-bottom: 2rem; 
}

.modal-footer {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.modal-header,
.modal-body,
.modal-footer {
  padding-left: 2rem;
  padding-right: 2rem;
}

.modal-body {
  padding-bottom: 1.5rem;
}

@keyframes modal-flyin {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes modal-flyout {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }  
}
