.pages-home .user-menu {
  background: transparent;
  position: absolute;
  right: 1.33rem;
  top: 0;
  color: inherit;

  a {
    color: inherit;
  }
}

.user-menu {
  background: $primary;
  color: white;
  position: relative;
  padding: 1.33rem;
  text-align: left;

  a {
    color: rgba(255,255,255,0.75);
  }
}

.person {
  display: block;
  margin-left: 44px;
  padding-left: .85em;
  line-height: 1;
}

.person-image {
  @include border-radius(50%);
  width: 44px;
  height: 44px;
  display: block;
  position: absolute;
}

.person-name {
  display: block;
  font-size: 1em;
  padding: .25em 0;
  line-height: 1.2em;
}

.person-signout-link {
  font-size: .85em;
  display: inline-block;
  padding: .25em 0;
}