.stacks-show {
  header {
    position: relative;
    .add-list {
      position: absolute;
      cursor: pointer;
      text-align: center;
      width: 46px;
      right: 0px;
      top: 0px;
      height: 50px;
      &:hover {
        img { opacity: .7; }
      }
      &:active {
        img { opacity: 1; }
      }
      img {
        opacity: .4;
        max-height: 50px;
        max-width: 24px;
      }
    }
  }
  h2 { 
    color: $dark;
    font-weight: 400;
    @include h;
    background: #fff;
    margin: 0px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.10); 
  }
}

#my-lists {
  li {
    padding: 0px;
    a {
      display: block;
      padding-left: 15px;
      line-height: 50px;
      font-weight: 400;
      i {
        line-height: inherit;
        padding: 0px;
      }
    }
  }
}
