.stacks-show {
  h2 { 
    color: $dark;
    font-weight: 400;
    @include h;
    background: #fff;
    margin: 0px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.10); 
  }
}
