.stack {
  #my-lists {
    position: relative;
    .add-list {
      cursor: pointer;
      text-align: center;
      width: 18px;
      color: #aaa;
      font-size: 19px;
      font-weight: 600;
      float: right;
      line-height: inherit;
      &:hover {
        text-decoration: none;
        color: #555;
      }
      &:active {
        color: $primary;
      }
      @media only screen and (max-device-width: 480px) {
        width: 40px;
      }
    }
  }
  h2 { 
    color: $dark;
    font-weight: 400;
    @include h;
    background: #fff;
    margin: 0px;
    text-align: center;
    width: auto;
    border-bottom: 1px solid rgba(0,0,0,0.10); 
    @media only screen and (max-device-width: 480px) {
      padding-left: 40px;
    }
  }
}

#app.desktop {
  #sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 240px;
    background: #fff;
    footer {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      text-align: center;
      background: none;
      padding: 10px 0;
      display: block;
      border-top: 1px solid rgba(0,0,0,0.05);
    }
  }

  #my-lists {
    padding: 20px 10px;
    h2 {
      color: #aaa;
      font-size: 12px;
      line-height: 24px;
      padding: 0 0 0 8px;
      text-align: left;
      border-bottom: none;
    }
  }
}

.stack {
  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding: 20px 0px;
    margin: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
    img {
      max-width: 36px;
      max-height: 36px;
      margin-right: 10px;
    }
    @media only screen and (max-device-width: 480px) {
      display: none;
    }    
  }
  footer {
    display: none;
  }
}

#my-lists {
  li {
    padding: 0px 8px;
    font-size: 14px;
    border-bottom: none;
    @include border-radius(3px);
    &:hover {
      background: #e6edf2;
    }
    a {
      display: block;
      line-height: 22px;
      font-weight: 400;
      color: #333;
      &.current {
        color: darken($primary, 10%);
      }
      &:hover {
        text-decoration: none;
      }
      i {
        line-height: inherit;
        padding: 0px;
        font-size: .9em;
      }
    }
    @media only screen and (max-device-width: 480px) {
      padding: 0 20px;
      border-bottom: 1px solid rgba(0,0,0,0.05);
      a {
        line-height: 50px;
        i {
          float: right;
        }
      }
    }    
  }
}
