.stack {
  #my-lists {
    position: relative;
    .add-list {
      cursor: pointer;
      text-align: center;
      width: 18px;
      color: #aaa;
      font-size: 19px;
      font-weight: 600;
      float: right;
      line-height: inherit;
      &:hover {
        text-decoration: none;
        color: #555;
      }
      &:active {
        color: $primary;
      }
      @media only screen and (max-width: 600px) {
        width: 40px;
      }
    }
  }
  h2 { 
    color: $dark;
    font-weight: 400;
    @include h;
    background: #fff;
    margin: 0px;
    text-align: center;
    width: auto;
    border-bottom: 1px solid rgba(0,0,0,0.10); 
    text-transform: uppercase;

    @media only screen and (max-width: 600px) {
      padding-left: 40px;
    }
  }
}

#app {
  @media only screen and (min-width: 600px) {
    #sidebar {
      position: fixed;
      display: block;
      left: 0px;
      top: 0px;
      bottom: 0px;
      width: 240px;
      background: #fff;
      footer {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        text-align: center;
        background: none;
        padding: 10px 0;
        display: block;
        min-width: 0px;
        border-top: 1px solid rgba(0,0,0,0.05);
      }
    } 
    #my-lists {
      padding: 20px 10px;
      h2 {
        letter-spacing: 1px;
        color: #aaa;
        font-size: 12px;
        line-height: 24px;
        padding: 0 0 0 8px;
        text-align: left;
        border-bottom: none;
      }
    }
  }
}

.stack {
  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding: 20px 0px;
    margin: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);

    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }

    @media only screen and (max-width: 600px) {
      display: none;
    }

  }
  footer {
    display: none;
  }
}

#my-lists {
  &.editing {
    &:active {
      background: #e6edf2;
    }
    @media screen and (max-width: 600px) {
      &:hover {
        background: #fff;
        .delete-list {
          display: block;
        }
      }
    }
  } 
  li {
    padding: 0 8px;
    font-size: 14px;
    border-bottom: none;
    @include border-radius(3px);  

    @media only screen and (min-device-width: 768px) {    
      &:hover {
        background: #e6edf2;
        .delete-list {
          opacity: .5;
        }
      }
    }

    &:active {
      background: #e6edf2;
    }

    .route {
      display: block;
      line-height: 22px;
      font-weight: 400;
      color: #333;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &.current {
        color: darken($primary, 10%);
      }
      &:hover {
        text-decoration: none;
      }
      i {
        line-height: inherit;
        padding: 0px;
        font-size: .9em;
      }
    }
    @media only screen and (max-width: 600px) {
      padding: 0 20px;
      border-bottom: 1px solid rgba(0,0,0,0.05);
      background: #fff;
      .route {
        line-height: 50px;
        i {
          float: right;
        }
      }
    }    
  }
}

.remove-lists {
  display: none;

  @media only screen and (max-width: 600px) {
    display: block;
    position: absolute;
    left: 20px;
    top: 0px;
    margin: 12px 0;
    padding: 5px 0;
    font-size: 12px;
    color: #aaa;
    cursor: pointer;
    @include border-radius(3px);
    
    &:hover {
      text-decoration: none;
    }

    &:active {
      color: #333;
      background: #e6edf2;
    }
  } 
}

.delete-list {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  float: right;
  cursor: pointer;
  line-height: 22px;
  color: #333;
  padding-left: 15px;
  text-decoration: none;
  @include transition(opacity 200ms ease-in-out);

  &:active {
    text-decoration: none;
  }

  @media screen and (max-width: 600px) {
    display: none;
    line-height: 50px;
  }
}

@media screen and (max-width: 600px) {
  .editing .delete-list {
    display: block;
  }
}

.desktop .delete-list {

  &:hover {
    text-decoration: none;
  }
  
  @media screen and (min-width: 601px) {
    opacity: 0;
  
    &:hover,
    &:active {
      text-decoration: none;
      opacity: 1;
    }
  }  
}
