.todos {
  //background-color: $primary;
  background-color: #eee;
}

.selected-list {
  text-align: left;
  position: relative;
}

.todo {
  position: relative;
  background-color: #fff;
  padding: 0px 3em;
  font-size: 1rem;
  border-bottom: $border-style;
  font-weight: 300;
  transition: background-color 200ms linear;
  
  // for sortable to size properly
  box-sizing: content-box;
  
  // reduces flicker on ios...
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
  perspective: 1000;
  
  &.completed {
    background-color: $primary;
    border-color: transparent;

    .toggle {
      color: white;
      border-color: transparent;

      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
      }
    }

    .label {
      color: #fff;
      text-decoration: line-through;

      a {
        color: #fff;
      }
    }
  }

  &.ui-sortable-helper {
    border-bottom: none;
    transform: scale(.98);
    opacity: 95;
    border: 1px solid $primary;
    border-radius: 2px;
    z-index: 100000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.35);
  }

  .check {
    opacity: 0;
    max-height: 50px;
    max-width: 24px;
    position: absolute;
    left: -40px;
    top: 0px;
    transition: opacity 100ms linear;
  }

  .move {
    opacity: .2;
    float: right;
    margin-right: -3em;
    padding: 0 .5rem;
    height: 50px;
    line-height: 0;
    cursor: move;

    &:hover {
      opacity: .6;
    }
    &:active {
      opacity: 1;
    }
  }

  .toggle {
    appearance: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    border: 2px solid #c1c1c3;
    cursor: pointer;
    float: left;
    color: transparent;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    margin: 17px 0px;
    margin-left: -2em;
    box-sizing: border-box;

    &:hover,
    &:active,
    &:focus {
      border-color: #a1a1a3;
    }

    .icon-check {
      margin: -2px;
      box-sizing: content-box;
      display: block;
    }
  }
  
  .label,
  input[type=text],
  textarea {
    width: 100%;
    padding: 15px 0px; 
    line-height: 20px;
    word-wrap: break-word;
  }
  
  .destroy {
    opacity: 0.5;
    display: none;
    position: absolute;
    width: 1.4rem;
    height: 50px;
    padding: 0 .25rem;
    margin: 0 .5rem;
    cursor: pointer;
    overflow: hidden;
    top: 0px;
    color: #333;
    right: 0px;
    transition: all 200ms ease-in-out;

    @media only screen and (min-device-width: $medium-breakpoint) {
      &:hover {
        opacity: 1;
      }
    }
    
    &:active {
      opacity: 1;
    }
  }
  
  &.editing {
    background-color: $yellow;

    .edit {
      display: block;
    }

    .label,
    .move { 
      display: none; 
    }

    .destroy { 
      display: block; 
    }
  }
}

.todo .edit {
  display: none;
}

.todo .label {
  display: block;
}

.items {
  position: relative;
  text-align: left;
}

#add-item li {
  padding: 0px;
  background: white;
  border-bottom: $border-style;

  input[type=text] {
    width: 100%;
    padding: 0 40px 0 1rem;
    line-height: 50px;
    height: 50px;
    border: 1px solid transparent;
    font-style: italic;
  }

  #submit-new-item {
    appearance: none;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 0;
    background-image: url(image-path("enter.png"));
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 50px;
    cursor: pointer;
  }
}
